<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>右左网-匹配</title>
    <link href="css/chat.css" rel="stylesheet">
    <script src="js/chat.js"></script>
    <link href="css/matching.css" rel="stylesheet">
    <link href="bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="js/jquery-3.4.1.js"></script>
    <link href="css/index.css" rel="stylesheet">
    <script src="js/jquery-1.12.4.js"></script>
    <script src="bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="js/wangEditor.min.js"></script>
    <link href="css/wangEditor.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="js/jQueryRotate.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/index.js"></script>
    <style>
        .displayNone{
            display: none;
        }
    </style>
    <script>



        window.onload = function(){


            var userId = $.cookie("userId");
            if (userId === undefined){
                location.href = "index.html"
            }






            var rotation = function (){
                $("#img").rotate({
                    angle:0,
                    animateTo:360,
                    callback: rotation,
                    easing: function (x,t,b,c,d){
                        return c*(t/d)+b;
                    }
                });
            };
            $("#toMatch").click(function () {
                var button = $("#toMatch");
                var t = button.text();
                if (t === "开始匹配") {
                    button.text("取消匹配");
                    rotation();
                }else if (t === "取消匹配"){
                    $("#img").stopRotate();
                    button.text("开始匹配");
                }
            });



            var talkDiv = new Vue({
                el:"#mainBody-2",
                data:{
                    chats:[],
                    friends:[],
                    userId:userId,
                    talkWords:''
                },
                methods:{
                    getChats:function () {
                        $.ajax({
                            url:"chat/getAllChats",
                            data:{
                                userId:userId
                            },
                            datatype:"text",
                            type:"post",
                            success:function (map) {
                                var chats = map.chats;
                                for (var i = 0; i < chats.length; i++){
                                    talkDiv.chats.push({
                                        chatText : chats[i].chatText,
                                        sendOrGet: chats[i].userIdA == userId ? "send" : "get"
                                    })
                                }
                                talkDiv.friends = map.friends;
                            }
                        })
                    },
                    send:function () {
                        if(talkDiv.talkWords === undefined){
                            // 消息为空时弹窗
                            alert("消息不能为空");
                            return;
                        }
                        var Words = document.getElementById("words");
                        var str = '<div class="btalk"><span>' + talkDiv.talkWords +'</span></div>' ;
                        Words.innerHTML = Words.innerHTML + str;
                        editor.txt.clear();
                    }

                }
            });





            //wangEditor富文本编辑器
            var E = window.wangEditor;
            //这里的id为<div id="editor">中的id.
            var editor = new E('#emoji', '#editorText');
            editor.customConfig.menus = [
                'emoticon' // 表情
            ];
            //监控音乐的文字，实时更新到shareText
            editor.customConfig.onchange = function (html) {
                talkDiv.talkWords = html;
            };
            //创建编辑器
            editor.create();


            var tag = "match";

            $("#chat").click(function () {
                if (tag === "chat") return;
                var chat = $("#chat");
                chat.css("background-color","#eeeeee");
                chat.css("color","#6e8ef4");
                var match = $("#match");
                match.css("background-color","#6e8ef4");
                match.css("color","#eeeeee");
                $("#mainBody-1").hide();
                $("#mainBody-2").show();
                talkDiv.getChats();
                tag = "chat";
            });

            $("#match").click(function () {
                if (tag === "match") return;
                var match = $("#match");
                match.css("background-color","#eeeeee");
                match.css("color","#6e8ef4");
                var chat = $("#chat");
                chat.css("background-color","#6e8ef4");
                chat.css("color","#eeeeee");
                $("#mainBody-2").hide();
                $("#mainBody-1").show();
                tag = "match";
            });



        }
    </script>
</head>
<body style="margin: 0; padding: 0 ">
<div id="main">
    <div id="topDiv">
        <nav class="navbar navbar-default" role="navigation" style="background-color: rgba(85,85,255,0);border: none">
            <div class="container-fluid">
                <div class="navbar-header" id="index">
                    <a href="#"><img src="images/logo.png" width="40" height="40"></a>
                </div>
                <a href="#" id="userPicA"><img id="userPic" src="images/userPic.png" width="43" style="float: right;"/></a>
            </div>
        </nav>
    </div>
    <div id="mainBody">
        <div class="left-both">
            <div class="left-title" id="match">匹配</div>
            <div class="left-title" id="chat">聊天</div>
        </div>

        <div id="mainBody-1" >
            <img src="images/111.png" id="img" class="zhuanzhuan" style=";" width="60px">
            <div class="main-little">
                <div class="choosePeo">
                    <div class="sex">
                        性别:
                    </div>
                    <div class="col-lg-2">
                        <select class="form-control" οnchange="selectOnchang(this)" style="width:90px">
                            <option>男</option>
                            <option>女</option>
                            <option>都行</option>
                        </select>
                    </div>
                </div>
                <div class="choosePeo">
                    <div class="sex">
                        年龄:
                    </div>
                    <div class="col-lg-2">
                        <select class="form-control" οnchange="selectOnchang(this)" style="width:90px">
                            <option>18-20</option>
                            <option>20-30</option>
                            <option>都行</option>
                        </select>
                    </div>
                </div>
                <div class="start" style="z-index: 100">
                    <button id="toMatch" type="button" class="btn  btn-default" style="z-index: 100">开始匹配</button>
                </div>
        </div>

    </div>
        <div id="mainBody-2" class="displayNone" >
            <div style="float:left;" >
                <ul class="nav nav-pills nav-stacked">
                    <li  v-for="(f, index) in friends">
                        <div :class="index == 0 ? 'activeLi' : 'fixedLi'">
                            <a href="#">
                                <img :src="f.userPic" width="30" height="30">
                                <span style=" margin-left: 5px; font-size: 15px;">{{f.userName}}</span></a>
                        </div>
                        </li>
                </ul>
            </div>


            <div class="talk_con" style="float:left;">
                <div class="talk_show" id="words">
                    <ul style="margin: 0; padding:0">
                        <li style="list-style: none" v-for="(c,index) in chats">
                            <div class="atalk" v-if="c.sendOrGet === 'get'"><span id="asay">{{c.chatText}}</span></div>
                            <div class="btalk" v-if="c.sendOrGet === 'send'"><span id="bsay">{{c.chatText}}</span></div>
                        </li>
                    </ul>
                </div>
                <div class="talk_input">
                    <div id="emoji" style="width: 30px;margin-top: 9px; float: left"></div>
                    <div placeholder="一起聊聊吧~" data-action="txt" id="editorText">

                    </div>
                    <input type="button" value="发送" class="talk_sub" @click="send" id="talksub" style="margin-top: 9px">
                </div>
            </div>
        </div>



    </div>
</div>
</body>
</html>