<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>动态广场</title>
    <link href="bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/square.css" rel="stylesheet">
    <link href="css/share.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/wangEditor.min.js"></script>
    <link href="css/wangEditor.css" rel="stylesheet">
    <script src="js/index.js"></script>
    <script src="js/insertShare.js"></script>
    <script>



        function format(time, format) {
            var t = new Date(time);
            var tf = function (i) {
                return (i < 10 ? '0' : '') + i
            };
            return format.replace(/yyyy|MM|dd|HH|mm|ss/g, function (a) {
                switch (a) {
                    case 'yyyy':
                        return tf(t.getFullYear());
                        break;
                    case 'MM':
                        return tf(t.getMonth() + 1);
                        break;
                    case 'mm':
                        return tf(t.getMinutes());
                        break;
                    case 'dd':
                        return tf(t.getDate());
                        break;
                    case 'HH':
                        return tf(t.getHours());
                        break;
                    case 'ss':
                        return tf(t.getSeconds());
                        break;
                }
            })
        }

        $(function () {





            var userId = $.cookie("userId");
            if (userId === undefined){
                location.href = "index.html"
            }

            //Vue
            var insertShare = new Vue({
                el: "#shareMusicDiv",
                data:{
                    shareText: "",
                    userId:userId
                },
                methods: {
                    shareMusicX:function () {
                        $("#shareMusicDiv").hide();
                    }
                }
            });

            //wangEditor富文本编辑器
            var E = window.wangEditor;
            //这里的id为<div id="editor">中的id.
            var editor = new E('#editorPic', '#editorText');
            // var editor1 = new E('#div1', '#div2')  // 两个参数也可以传入 elem 对象，class 选择器
            // 配置服务器端地址,也就是servlet的请求路径，不带项目路径，前面没有/
            // editor.customConfig.uploadImgServer = 'uploadFile';
            editor.customConfig.uploadImgShowBase64 = true;
            editor.customConfig.uploadImgMaxSize = 3 * 1024 * 1024;
            editor.customConfig.menus = [
                'emoticon' // 表情
            ];
            //监控音乐的文字，实时更新到shareText
            editor.customConfig.onchange = function (html) {
                insertShare.shareText = html;
            };
            //创建编辑器
            editor.create();

            var bigBox = new Vue({

                el:"#mainBody",
                data:{
                    shares:[],
                    commentToShareText:"",
                    pageCount:0,
                    pageNum:1
                },
                methods:{
                    getShares:function () {
                        bigBox.shares=[];
                        $.ajax({
                            url:"share/getAllShares",
                            datatype:"text",
                            type:"post",
                            data: {
                                pageNum: bigBox.pageNum,
                                userId: userId
                            },
                            success:function (map) {
                                bigBox.pageCount = map.pageCount;
                                var data = map.list;
                                for (var i = 0; i < data.length; i++){
                                    bigBox.shares.push({
                                        userName: data[i].userName,
                                        shareTime: format(data[i].shareTime,'yyyy-MM-dd'),
                                        shareAnnexUrl: data[i].shareAnnexUrl,
                                        shareLocation: data[i].shareLocation,
                                        shareCommentCount: data[i].shareCommentCount,
                                        userPic: data[i].userPic,
                                        shareText: data[i].shareText,
                                        shareId: data[i].shareId,
                                        shareLikes: data[i].shareLikes,
                                        likeOrNot: data[i].likeOrNot,
                                        likeImage : data[i].likeOrNot === 0 ? "images/thumbs.png" : "images/thumbsAfter.png",
                                        showComment: 0,
                                        shareComment:[],
                                        shareCommentText:""
                                    });
                                }
                            }
                        })
                    },
                    addLikes:function (index) {
                        if (bigBox.shares[index].likeOrNot === 0){
                            $.ajax({
                                data:{
                                    shareId : bigBox.shares[index].shareId,
                                    userId : userId
                                },
                                type:"post",
                                datatype:"text",
                                url:"share/addLikes",
                                success:function (data) {
                                    if (data !== 0){
                                        bigBox.shares[index].likeImage = "images/thumbsAfter.png";
                                        var like = bigBox.shares[index].shareLikes;
                                        bigBox.shares[index].shareLikes = like + 1;
                                        bigBox.shares[index].likeOrNot = 1;
                                    }
                                }
                            })
                        }

                    },
                    getShareCommentByAjax:function(index){
                        $.ajax({
                            url:"share/getShareComment",
                            data:{
                                shareId : bigBox.shares[index].shareId,
                                userId: userId
                            },
                            type:"post",
                            datatype:"text",
                            success:function (data) {
                                var shareComment = [];
                                for (var i = 0 ; i < data.length ; i++){
                                    shareComment.push({
                                        userName: data[i].userName,
                                        userPic: data[i].userPic,
                                        scTime: format(data[i].scTime,'yyyy-MM-dd'),
                                        scLikes: data[i].scLikes,
                                        scText: data[i].scText,
                                        likeImage : data[i].likeOrNot === 0 ? "images/thumbs.png" : "images/thumbsAfter.png",
                                        likeOrNot: data[i].likeOrNot,
                                        scId:data[i].scId
                                    });
                                }
                                bigBox.shares[index].shareComment = shareComment;
                            }
                        });
                    },
                    commentShare:function (index) {
                        if (bigBox.shares[index].showComment === 1){
                            bigBox.shares[index].showComment = 0;
                        } else {
                            bigBox.shares[index].showComment = 1;
                            bigBox.getShareCommentByAjax(index)
                        }
                    },
                    makeShare:function () {
                        $("#shareMusicDiv").show();
                    },
                    commentToShare:function (index) {
                        $.ajax({
                            url:"share/insertShareComment",
                            type:"post",
                            data:{
                                userId: userId,
                                scText: bigBox.shares[index].shareCommentText,
                                shareId: bigBox.shares[index].shareId
                            },
                            datatype:"text",
                            success:function (data) {
                                if (data === 1){
                                    bigBox.getShareCommentByAjax(index);
                                }
                            }
                        })
                    },
                    addCommentLikes:function (index, comIndex) {
                        var shareComment = bigBox.shares[index].shareComment;
                        if (shareComment[comIndex].likeOrNot === 0){

                            $.ajax({
                                data:{
                                    scId : shareComment[comIndex].scId,
                                    userId : userId
                                },
                                type:"post",
                                datatype:"text",
                                url:"share/addCommentLikes",
                                success:function (data) {
                                    if (data !== 0){
                                        bigBox.shares[index].shareComment[comIndex].likeImage = "images/thumbsAfter.png";
                                        var like = shareComment[comIndex].scLikes;
                                        bigBox.shares[index].shareComment[comIndex].scLikes = like + 1;
                                        bigBox.shares[index].shareComment[comIndex].likeOrNot = 1;
                                    }
                                }
                            })
                        }
                    },
                    pageUp: function () {
                        if (bigBox.pageNum > 1) {
                            bigBox.pageNum = bigBox.pageNum - 1;
                            bigBox.getShares();
                        }
                    },
                    pageDown: function () {
                        if (bigBox.pageNum < bigBox.pageCount) {
                            bigBox.pageNum = bigBox.pageNum + 1;
                            bigBox.getShares();
                        }

                    },
                }
            });



            bigBox.getShares();

            $("#fileupload").change(function () {
                var file = $("#fileupload").prop('files')[0];
                var imgUrl = window.URL.createObjectURL(file);
                $("#img").attr("src", imgUrl);
                $("#imgDiv").show();
            })

        })
    </script>
</head>
<body style="margin: 0; padding: 0 ">
<div id="main">
    <div id="topDiv">
        <nav class="navbar navbar-default" role="navigation" style="background-color: rgba(85,85,255,0);border: none">
            <div class="container-fluid">
                <div class="navbar-header" id="index">
                    <a href="#"><img src="images/logo.png" width="40" height="40"></a>
                </div>
                <a href="#" id="userPicA"><img id="userPic" src="images/userPic.png" width="43" style="float: right"
                                               data-toggle="tooltip" data-placement="bottom" title="修改资料"/></a>
            </div>
        </nav>
    </div>
    <div id="mainBody">
        <div id="mainDiv">
            <div id="left-top">
                <h3 class="f-left" style="	margin: 0;padding: 0;">动态</h3>
                <span class="f-right btn btn-default" @click="makeShare"><img src="images/dTai.png" height="16px">发动态</span>
            </div>

            <div id="mainDivSon">

                <ul>
                    <!--动态-->
                    <li v-for="(sh, index) in shares">
                        <div class="userPic f-left">
                            <a href="#">
                                <img :src="sh.userPic" height="45">
                            </a>
                        </div>
                        <div class="userShare f-left font-14 f-c-6">
                            <div class="type">
                                <a href="#" class="font-14">{{sh.userName}}</a>
                            </div>
                            <div class="time font-12">
                                <a href="#">{{sh.shareTime}}</a>
                            </div>
                            <div class="font-14 f-c-3 text" v-html="sh.shareText"></div>
                            <img :src="sh.shareAnnexUrl" height="250px">
                            <div class="s-foot">
                                <div class="f-left">
                                <span><img src="images/location.png" height="14px" v-if="sh.shareLocation != null"><i
                                        class="f-c-d">{{sh.shareLocation}}</i></span>
                                </div>
                                <div class="f-right" id="right_bottom">
                                <span><a href="#" class="f-c-gold" @click="addLikes(index)">
                                    <img id="beforeLike" :src="sh.likeImage" height="14px">
                                    (<i>{{sh.shareLikes}}</i>)</a></span>
                                    <span class="line f-c-gold shareOtherBtn">|</span>
                                    <span><a href="#" class="f-c-gold" @click="commentShare(index)">评论(<i>{{sh.shareCommentCount}}</i>)</a></span>
                                </div>

                            </div>
                            <!-- 评论 -->
                            <div style="margin-top: 10px; background-color: #eee" v-if="sh.showComment === 1"
                                 class="commentDiv">
                                <div class="share-text">
                                    <textarea class="u-txt area j-flag" placeholder="一起聊聊吧~" v-model="sh.shareCommentText"></textarea>
                                </div>
                                <div class="f-tde">
                                    <div class="btns">
                                        <input type="text" name="commentToShare" style="display: none;" v-model="commentToShareText">
                                        <div class="btn-share btn f-left" style="font-size: 16px"
                                                 @click="commentToShare(index)">评论
                                        </div>
                                    </div>
                                </div>

                                <div style="clear: both;"></div>
                                <div class="commentDiv" v-for="(com, comIndex) in sh.shareComment">
                                    <div class="userPic">
                                        <a href="#" style="display:block; margin-right: 5px" class="f-left">
                                            <img :src="com.userPic" height="35">
                                        </a>
                                        <div class="type f-left">
                                            <a href="#" class="font-14">{{com.userName}}</a><i>:</i>
                                            <div v-html="com.scText"></div>
                                        </div>
                                        <div style="clear: both"></div>
                                    </div>
                                    <div class="time font-12">
                                        <a href="#">{{com.scTime}}</a>
                                        <span style="margin-left: 250px; float: right">
                                         <span><a class="f-c-gold" @click="addCommentLikes(index,comIndex)"><img :src="com.likeImage" height="14px">(<i>{{com.scLikes}}</i>)</a></span>
                                    </span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
                <div style="width: 500px;margin: auto">
                    <ul>
                        <li class="f-left">
                            <a class="pages pages_upAndDown" @click="pageUp">上一页</a>
                        </li>
                        <li v-for="n in pageCount" class="f-left">
                            <a :class="pageNum === n ? 'pages_act' : 'pages_btn'" @click="pageChange(n)">{{n}}</a>
                        </li>
                        <li class="f-left">
                            <a class="pages pages_upAndDown" @click="pageDown">下一页</a>
                        </li>
                    </ul>
                </div>



            </div>


        </div>


    </div>
    <div id="changeData">
        <iframe src="changeData.html" frameborder="0" width="100%" height="400px"></iframe>
    </div>
</div>
<!--分享动态-->
<div class="popWindow" id="shareMusicDiv" >
    <form action="/share/insertShare" method="post" enctype="multipart/form-data" class="xiaoshi"
          id="shareMusicForm">
        <input class="xiaoshi" style="display: none;" v-model="shareText" type="text" name="shareText">
        <input class="xiaoshi" style="display: none;" name="userId" type="text" v-model="userId">
    </form>
    <div class="popWindow-top">
        <div class="font-14 f-w-b f-c-e">分享</div>
        <div class="f-right"><a href="#"><i class="font-14 XXX" @click="shareMusicX">X</i></a></div>
    </div>
    <div class="share-text">
        <div class="u-txt area j-flag" placeholder="一起聊聊吧~" data-action="txt" id="editorText">

        </div>
        <div class="f-thide">
            <div id="beforeChoseMusic">
                <div style=" width: 40px;" id="editorPic" class="f-left"></div>
                <div class="f-tde">
                    <a href="#"><img src="images/Picture.png" height="15px" style="z-index: 10">
                        <input type="file" id="fileupload" class="sharePic" name="file" form="shareMusicForm"  accept="image/*"></a>
                </div>
            </div>

        </div>
    </div>
    <div style="padding-left: 40px; line-height: 30px ; display: none " id="imgDiv">预览
        <img id="img" style="margin-left: 20px" src="images/userPic.png" width="40px"></div>
    <div class="btns">
        <a>
            <button class="btn btn-primary" style="font-size: 16px" type="submit" form="shareMusicForm">分享
            </button>
            <div class="btn btn-default" style="font-size: 16px" @click="shareMusicX">取消</div>
        </a>
    </div>
</div>


<script>
    $(function () {
        $("[data-toggle='tooltip']").tooltip();
    });
</script>
</body>
</html>